/* Denna fil skall innehålla din CSS kod */
* {margin: 0px;}


#container{
    display: grid;
    width: 100vw;
    height: 200vh;
    grid-template-areas:
    'he he he he he he he he '
    'a100 a100 a100 a100 a100 a100 a100 a100'
    'a100 a100 a100 a100 a100 a100 a100 a100'
    'a100 a100 a100 a100 a100 a100 a100 a100'
    'a100 a100 a100 a100 a100 a100 a100 a100'
    'a100 a100 a100 a100 a100 a100 a100 a100'
    'a2 a2 a2 a2 a2 a2 a2 a2'
    'a1 a1 a1 a1 a1 a1 a1 a1'
    'a1 a1 a1 a1 a1 a1 a1 a1'
    'a1 a1 a1 a1 a1 a1 a1 a1'
    'a1 a1 a1 a1 a1 a1 a1 a1'
    'a1 a1 a1 a1 a1 a1 a1 a1'
    ;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(14, 1fr);
}


#parallax {
background: url('../img/Yodas-hut.png') no-repeat center;
background-size: cover;
background-attachment: fixed;
height: 200vh;
}


header{
   grid-area: he;
    background-color: rgba(0,0,0,0.3)
}

#header{
    display: flex;
    justify-content: space-between;
}

#yodabild{
    display: flex;
    justify-content: left center;
    margin-left: 1;
}

#yodabild2{
   display: flex;
   justify-content: left;
    height: 100vh;
    width: 50w;
    opacity: 40%;
}

#article1{
   grid-area: a1;
 }



#article2{
    grid-area: a2;
    background: #2d5165;
    opacity: 80%;
    display: flex;
    align-items: center;
 }


#atricle100{
grid-area: a100;
background: transparent;
padding: 0;
margin: 0;
}

H1{
    font-size: 5em;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'arial';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: white;
}

#article2{
    display: flex;
    justify-content: center;
}

h3{
    font-size: 55px;
    font-family: 'arial';
    color: white;
}

#footer{
    grid-area: ft;
    background: black;
}

#topnav{
    background-color: transparent;
    overflow: hidden;
    width: 44vw;
    font-family: 'arial';
}

#topnav a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 60px 20px;
    text-decoration: none;
    font-size: 18px; 
    justify-self: center;
    
}

#topnav a:hover{
    background-color: rgba(0,0,0,0.3);
    color: white¢;
}

#footer{
    grid-area: ft;
    background: transparent;
}

header img{
    margin-right: auto;
}

#btn1{
    border-radius: 4px;
    background-color: white;
    border:none;
    color: black;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 15vw;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    font-family: 'arial';
    margin-left: 27vw;
}

#btn1 span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#btn1 span::after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5;
}


#btn1:hover span{
    padding-right: 25px;
}

#btn1:hover span:after{
    opacity: 1;
    right: 0;
}

#btn2{
    border-radius: 4px;
    background-color: white;
    border:none;
    color: black;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 15vw;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    font-family: 'arial';
    
}

#btn2 span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#btn2 span::after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5;
}


#btn2:hover span{
    padding-right: 25px;
}

#btn2:hover span:after{
    opacity: 1;
    right: 0;
}

#btn3{
    border-radius: 4px;
    background-color: white;
    border:none;
    color: black;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 15vw;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    font-family: 'arial';
}

#btn3 span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#btn3 span::after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5;
}


#btn3:hover span{
    padding-right: 25px;
}

#btn3:hover span:after{
    opacity: 1;
    right: 0;
}
